@import url(./css/global.css);

.texto {
  display: grid;
  gap: 1.88rem;
  align-items: center;
  padding-inline: 2.5rem;
}

.texto div {
  display: flex;
  align-items: center;
}

.texto .preco {
  margin-right: 3.75rem;
}

#antigo {
  text-decoration: line-through;
}

.botao {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.botao {
  padding: 0.65rem;
  border-radius: 0.65rem;
}

.botao img {
  padding-right: 0.65rem;
}

.botao:hover {
  background: hsl(158, 36%, 20%);
}

@media (max-width: 43.75rem) {
  br {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .texto {
    padding-block: 1.25rem;
    gap: 1.25rem;
  }
  .botao {
    padding: 1.25rem;
  }
}

@media (max-width: 25rem) {
  .botao {
    width: 15rem;
  }
  .texto .preco {
    margin-right: 2rem;
  }
}
