@import url(./css/global.css);

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(0, 0%, 100%);
}

.texto {
  display: grid;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}

.texto div {
  display: flex;
  align-items: center;
}

.texto .preco {
  margin-right: 60px;
}

#antigo {
  text-decoration: line-through;
}

.botao {
  background-color: hsl(158, 36%, 20%);
  display: flex;
  justify-content: center;
}

.botao a,
.botao img {
  padding: 10px;
}

@media (max-width: 700px) {
  br {
    display: none;
  }
  .perfume img {
    background-image: url(/images/image-product-mobile.jpg);
  }
  main {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-column: 1/-1;
  }
  .texto {
    padding-top: 20px;
    gap: 20px;
  }
}
